# Copy this file to settings.env and change each of the fields.


# The domain name the LTI provider will be accessed from
SERVERNAME=numbas-lti.institution.tld

# The name of this instance.
# Shown in the footer of most pages.
INSTANCE_NAME=University of Somewhere

# The language to use for the interface.
# Available languages: 'en' (English), 'de' (German/Deutsch)
LANGUAGE_CODE=en

# The time zone that the server should use to display dates and times.
# See https://docs.djangoproject.com/en/3.2/ref/settings/#std:setting-TIME_ZONE
TIME_ZONE=UTC

# Pick a username and password for the administrator account in the Numbas LTI provider
SUPERUSER_USER=admin
SUPERUSER_PASSWORD=admin

# The email address to send emails from.
DEFAULT_FROM_EMAIL = env('DEFAULT_FROM_EMAIL')

# The name of your support contact.
SUPPORT_NAME=the Numbas team

# An address to get support. When there's an error, students will be shown a link to this address.
# Set to "mailto:your_email_address", or the URL of a page containing contact info.
# Or set to None if you don't want to show a link.
SUPPORT_URL=mailto:help@somewhere.edu

# Enable sending attempt completion receipts by email?
EMAIL_COMPLETION_RECEIPTS=env('EMAIL_COMPLETION_RECEIPTS')

# The level of logging to produce in the Docker log.
# See https://docs.djangoproject.com/en/3.2/topics/logging/#loggers
LOGLEVEL=WARNING

# Pick a password for the database. 
POSTGRES_PASSWORD=postgres

# This secret key is used for cryptography by Django.
# A SECRET_KEY is generated when you run the installation script; paste that here.
# Alternately, you can generate a key by running
#   cat /dev/urandom | tr -dc 'a-zA-Z0-9' | head -c 64
SECRET_KEY=
