# Copy this file to settings.env and change each of the fields.


# The domain name the LTI provider will be accessed from
SERVERNAME=numbas-lti.institution.tld

# Pick a password for the database. 
POSTGRES_PASSWORD=postgres

# This secret key is used for cryptography by Django.
# A SECRET_KEY is generated when you run the installation script; paste that here.
# Alternately, you can generate a key by running
#   cat /dev/urandom | tr -dc 'a-zA-Z0-9' | head -c 64
SECRET_KEY=

# Pick a username and password for the administrator account in the Numbas LTI provider
SUPERUSER_USER=admin
SUPERUSER_PASSWORD=admin

# The code of the language to use in the LTI provider's interface
LANGUAGE_CODE=en

# The level of logging to produce in the Docker log.
# See https://docs.djangoproject.com/en/3.2/topics/logging/#loggers
LOGLEVEL=DEBUG
